@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url(./universal.css);

.custom-margin {
    margin-top: 50vh;
}
.body-content {
    font-family: 'Gloock', serif;
    font-size: 3vh;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

/* .center-body {
    padding-top: 20vh;
} */

.center-body h2,h3,h4{
    padding: 1vh;
}

.text-body {
    margin-top: 20vh;
}

.img-body{
    margin-top: 0vh;
}

  
h3 span, h4 span{
    color: var(--first-color);
}

.list-inline {
    margin-left: 1vh;
    padding-left: 0.1vh;
}

.list-inline-item a i {
    color: var(--first-color);
}
  
.list-inline-item a i:hover {
    color: violet;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}